<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gab.myapplication">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_girls_8"
        android:installLocation="preferExternal"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="Application.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="Application.xrecycler.GridActivity"
            android:label="@string/app_name" />
        <activity
            android:name="Application.xrecycler.StaggeredGridActivity"
            android:label="@string/app_name" />
        <activity
            android:name="Application.BlankActivity"
            android:label="@string/app_name" />/>
        <activity android:name="Application.Navigationactivity" />
        <activity android:name="Application.xrecycler.XRecyclerViews" />
        <activity android:name="Application.xrecycler.XRecyclerActivity" />
        <activity
            android:name="Application.recycleviewday.RecyclerViewDay"
            android:theme="@style/AppThemes" />
        <activity
            android:name="Application.recyclerviewdelete.Deleteactivity"
            android:theme="@style/AppThemes" />
        <activity
            android:name="Application.recycleviewhead.RecycleviewStickyhead"
            android:theme="@style/AppThemes" />
        <activity
            android:name="Application.ProgressWeb.ProgressWebViewActivity"
            android:theme="@style/AppThemes" />
        <activity android:name="Application.StatusBarColor.BaseActivity" />
        <activity android:name="Application.StatusBarColor.StatusBarMainActivity" />
        <activity
            android:name="Application.StatusBarColor.PlanThreeActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name="Application.StatusBarColor.TopImageActivity" />
        <activity android:name="Application.StatusBarColor.TabActivity" />
        <activity android:name="Application.StatusBarColor.PlanTwoActivity" />
        <activity android:name="Application.ViewPageIndicator" />
        <activity android:name="Application.ScrollingActivity" />
    </application>

</manifest>
